/*=============================================
=            Mobile CSS            =
=============================================*/
@media screen and (max-width: 768px) {
  #desktop {
    display: none;
  }
  #mobile {
    display: block;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
  }
  .navbar ul {
    width: 100%;
    background-color: cadetblue;
    align-content: center;
    bottom: 0%;
    position: fixed;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .navbar li {
    display: inline-block;
  }
  .navbar a {
    margin-left: -5px;
    text-decoration: none;
    text-align: center;
    width: 70px;
    display: block;
    padding: 12px;
    font-family: Century Gothic;
    transition: 0.4s;
  }
  .navbar a.active {
    background-color: blueviolet;
  }
  .navbar a:hover {
    background-color: navy;
    width: 70px;
    transition: 0.4s;
  }

  /*=============================================
  =            Font Nav            =
  =============================================*/
  .navbar a {
    color: white;
  }
  span {
    color: white;
    font-size: 38px;
    text-align: center;
    display: inline-block;
  }
  /*=====  End of Font Nav  ======*/
  .header {
    margin-top: -22px;
    padding-top: 40%;
    padding-bottom: 40%;
    text-align: center;
    height: 350px;
    background-color: navy;
  }
  .header img {
    height: auto;
    width: 30%;
  }
  .header h1 {
    color: aqua;
  }
  img {
    width: 100%;
    height: auto;
  }
  .break {
    height: 100px;
    width: 100%;
  }
  .isi-porto {
    background-color: #4c4b50;
  }
  .isi-talk {
    background-color: #f5e362;
  }
  .isi-x-banner {
    background-color: #c33d3e;
  }
  .isi-prof {
    margin-top: -4px;
    padding-bottom: 10%;
    background: 
    /* top, transparent red */ linear-gradient(
        rgba(198, 70, 71, 1),
        rgba(153, 90, 255, 0.515),
        rgba(153, 90, 255, 1)
      ),
      /* bottom, image */ url(../img/jumbotron-bg.jpg);
  }
  .isi-cont {
    background-color: rgb(73, 46, 117);
    padding-bottom: 30%;
    text-align: center;
  }
  .isi-prof p {
    padding-left: 10%;
    padding-right: 10%;
  }
  .porto {
    background-image: linear-gradient(navy, #4c4b50);
  }
  .talk {
    background-image: linear-gradient(#4c4b50, #f5e362);
  }
  .x-ban {
    background-image: linear-gradient(#f5e362, #c33d3e);
  }
  .prof {
    background-image: linear-gradient(#c64647, rgba(198, 70, 71, 0));
  }
  .cont {
    background-image: linear-gradient(
      rgba(153, 90, 255, 1),
      rgba(153, 90, 255, 0)
    );
  }
  .isi-porto h1 {
    color: lightblue;
  }
  .isi-prof {
    text-align: center;
    color: lightblue;
  }
  .isi-prof h2 {
    color: aqua;
    text-align: center;
  }
  .Nisverto h2 {
    color: white;
    text-align: center;
  }
  .x-banner h2 {
    color: white;
    text-align: center;
  }
  .Talkshow h2 {
    color: navy;
    text-align: center;
  }
  .isi-cont h1 {
    color: rgb(173, 201, 255);
    margin-bottom: 10%;
  }
  .isi-cont a {
    display: inline-block;
    font-size: 23px;
    text-decoration: none;
    margin: 5%;
    color: rgb(173, 201, 255);
  }
}
/*=====  End of Mobile CSS  ======*/

/*=============================================
=            Dekstop CSS            =
=============================================*/
@media screen and (min-width: 769) {
  #desktop {
    display: block;
  }
  #mobile {
    display: none;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
  }

  .header {
    margin-top: 60px;
  }

  /*=============================================
=            Navbar            =
=============================================*/

  .navbar ul {
    width: 100%;
    background-color: cadetblue;
    top: 0%;
    position: fixed;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .navbar li {
    display: inline-block;
    float: left;
  }
  .navbar a {
    text-decoration: none;
    width: 50px;
    display: block;
    padding: 20px;
    font-family: Century Gothic;
    transition: 0.4s;
  }
  .navbar a.active {
    background-color: blueviolet;
  }
  .navbar a:hover {
    background-color: navy;
    width: 70px;
    transition: 0.4s;
  }

  /*=====  End of Navbar  ======*/
}
